# Intro to Dataframes

In [1]:
import pandas as pd

In [2]:
# Creating dataframe
# columns attribute in DataFrame allows us to make names for the dataframe columns
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A","B","C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
# first five elements in dataframe
df.head()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
df.head(1)

   A  B  C
0  1  2  3

In [5]:
df.head(2)

   A  B  C
0  1  2  3
1  4  5  6

In [6]:
# To see the names of columns
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [7]:
# To see the index of the dataframe
df.index.to_list()

[0, 1, 2]

In [8]:
# make an index labels 
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A","B","C"],index=["x","y","z"])
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [9]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [10]:
# To see information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [11]:
# statistics information about the data
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [12]:
# df.nunique() : function to return unique values in dataframe
df.nunique()

A    3
B    3
C    3
dtype: int64

In [13]:
# To get a specific column in a dataframe
df['A'].unique()

array([1, 4, 7])

In [14]:
# df.shape : tells us the shape of the data
df.shape

(3, 3)

In [15]:
# df.size : tells us the size of the data
df.size

9